* {
    font-family:
        Comspot;
    margin: 0;
    padding: 0;
}

.body-container-index,
.body-container-paginas {
    margin: 0 !important;
    padding: 0 !important;


    .row-body {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;


        .col-body {
            margin-right: 0;
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;

        }
    }
}

@media screen and (max-width: 991px) {

    .body-container-paginas {
        padding-top: 3.5rem !important;
    }

}