/*FOOTER*/



.linkfooter a {
    color: map-get($colores, verdePrincipal);
}

.derechos,
.linkfooter {
    text-align: center;
    margin: 0;
}


.derechos {
    padding-top: 0%;
}

.footer-der,
.footer-izq,
.footer-med {
    padding: 0.5% 0 0 0;

}

.footer-der a {
    margin: 2%;

}

.logos-redes {
    width: 9%;
    height: auto;
    transition: all 0.5s ease-out;


    &:hover {
        width: 12%;
        height: auto;

    }
}

@media screen and (max-width: 991px) {
    .logos-redes {
        width: 4%;
    }
}