/*FOOTER*/



.linkfooter a {
    color: map-get($colores, verdePrincipal);
}

.derechos,
.linkfooter {
    text-align: center;
    margin: 0;
}


.derechos {
    padding-top: 0%;
}

.footer-der,
.footer-izq,
.footer-med {
    padding: 0.5% 0 0 0;

}

.logos-redes {
    width: 20px;
    margin: 0 4.5px;
    transition: all 0.5s ease-out;

    &:hover {
        width: 25px
    }
}