/*FOOTER*/


.linkfooter {
    margin-top: -1px;
}

.linkfooter a {
    color: map-get($colores, verdePrincipal);
}

.derechos,
.linkfooter {
    text-align: center;
    margin: 0;
}

.derechos {
    padding-top: 0.5%;
}