/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav {
    padding-right: 6px;
}

.boton-hamburguesa {
    background-color: map-get($colores, verdePrincipal);
}

/*APLICO NESTING Y SELECTOR &*/

#navbarNav {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-left: 50px;
        text-decoration: none;
        display: flex;

        li {
            justify-content: space-evenly;
            padding-left: 3px !important;

            a {
                text-decoration: none;
                color: map-get($colores, grisPrincipal);
                padding: 2px 10px !important;
                border: 1px solid;
                border-radius: 5px;
                background-color: map-get($colores, verdePrincipal);
                transition: all 0.5s ease-out !important;
                cursor: pointer !important;

                &:hover {
                    text-decoration: none;
                    color: map-get($colores, verdePrincipal) !important;
                    background-color: map-get($colores, grisPrincipal);
                }
            }
        }
    }
}

.logo-superior {
    width: 150px;
    height: auto;
    padding: 0 0 0 6px;
}